#SignupBoxMain {
    width: 69%;
    background-color: #004C6C;
    border: 2px solid #464646;
    border-radius: 10px;
    font-family: Helvetica;
    padding: 25px

}

#usernameSignup, #passwordSignup {
    color: white;
    background: #CC1E4A;
    border: 2px solid #464646;
    border-radius: 8px;
    font-family: Helvetica;
    text-align: center;
    margin: 5px;
    width: 100%;
    
}

::placeholder {
    color: white;
}


