#LoginBoxMain {
    background-color: #004C6C;
    border: 2px solid #464646;
    border-radius: 10px;
    font-family: Helvetica;
    padding: 25px
}

#googleButton {
    background-color: white;
    border-radius: 8px;
    margin-top: 20px
}

#usernameInput, #passwordInput {
    color: white;
    background: #CC1E4A;
    border: 2px solid #464646;
    border-radius: 8px;
    font-family: Helvetica;
    text-align: center;
    margin: 5px;
    width: 100%;
    
}

#loginText {
    color: white;
    font-family: Helvetica;
    font-size: 24px;
    text-align: center;
}

::placeholder {
    color: white;
}





